.body {
	font-family: "Centaur", "High Tower";
	background-image: url("https://wallpapertag.com/wallpaper/full/7/5/d/446965-best-sky-blue-backgrounds-1920x1080-for-htc.jpg");
	background-size: cover;
	background-position: center;
	margin: 0;
}

.competition{
	border-bottom: 4px solid black;
	display: inline;
}

.summary{	
	border-bottom: 2px solid black;
	margin-left: 10px;
	text-align: center;
}

.work{	
	margin-left: 10px;
	text-align: center;
}

.me{
	float: left;
}

.name{
	float: right;
}

.info{
	float: right;
}
