.body {
	font-family: "Centaur", "High Tower";
	font-size: 1.5rem;
	background-image: url("https://wallpapertag.com/wallpaper/full/7/5/d/446965-best-sky-blue-backgrounds-1920x1080-for-htc.jpg");
	background-size: cover;
	background-position: center;
	margin: 0;
}

.competition{
	border-bottom: 4px solid black;
}
.overlay{
 	position: relative; 
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.container:hover .overlay{
 	opacity: 1;
} 

.summary{	
	border-bottom: 2px solid black;
	margin-left: 10px;
	text-align: center;
}

.work{	
	margin-left: 10px;
	border-bottom: 5px;
	text-align: center;
}

.me{
	float: left;
}

.name{
	float: right;
}

.info{
	float: right;
}

.linkedin a:active{
	position: relative;
	top: 2px;
}
	
